name: Build Project

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: "9.2.1"

    - name: Make gradlew executable
      run: chmod +x ./gradlew

    - name: Build with Gradle
      run: ./gradlew clean build
      env:
        build_environment: ci

    - name: Upload built JAR
      uses: actions/upload-artifact@v6
      with:
        name: Plugin-JAR.jar
        path: build/libs/untitled-generator-maker*.jar
        if-no-files-found: error
